<!DOCTYPE html>
<html>
  <head>
    <title>Rog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>
  <body>
    
    <div class="topnav">
    <a class="active" href="/">Home</a>
    <% if logged_in? %>
        <%= link_to "Mon profil", user_path(current_user)%>
        <%= link_to "Nouvel Article", user_path(current_user)%>
        <%= link_to "Mes Articles", user_path(current_user)%>
        <%= link_to "Deconnexion", logout_path, method: :delete%>
        
        <% else %>
        <%= link_to "Se connecter", login_path%>
        <%= link_to "Nouvel utilisateur", new_user_path%>
    <% end %>
</div>
<br>
    <div class="container" id="downhere">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
      <br>
    <% end %>
  </div>
  
  <%= yield %>
  
  </body>
</html>
